.landingTitle{
    background-color: #6bcc6b;
    border-radius:8px;
    margin: 4px 8px;
    padding:8px;
    color:white;
    text-shadow: 1px 1px 5px #888888, -1px 1px 5px #888888;
}

.landingButtons{
    display:inline-grid;
}

.landingButtons button{
    width:80vw;
    font-size:1.2rem;
}

#landing-question-button{
    font-size:1.4rem;
}

.twitter-feed-landing{
    width:90vw;
    margin:auto;
}


@media screen and (min-width: 700px) {
    .landingTitle{
        padding:32px;
        margin: 24px auto;
        width:60%;
    }

    .landingButtons{
        width:30vw;
        margin-left:15vw;
    }

    .landingButtons button{
        width:100%;
    }

    .twitter-feed-landing{
        width:40vw;
        float:right;
        margin-right:10vw;
    }
}