.landingTitle{
    background-color: #6bcc6b;
    border-radius:8px;
    margin: 24px auto;
    padding:32px;
    width:60%;
    color:white;
    text-shadow: 1px 1px 5px #888888, -1px 1px 5px #888888;
}

.landingButtons{
    display:inline-grid;
    width:40%;
}

.twitter-feed-landing{
    float:right;
    margin-right:10vw;
}

@media screen and (max-width: 700px) {
    .landingTitle{
        margin: 4px auto;
    }
}