.splashPage {
    background: #000;
    height:100%;
    width:100%;
    top:0;
}

#landing-header{
    z-index:3;
    position:relative;
    text-align:center;
    padding-top:40vh;
}

#landing-header h1 {
    color: #fff;
    text-shadow: 2px 2px 8px #4b4b4b;
    background: rgba(100,100,100,.5);
    font-size:2.4rem;
    width:fit-content;
    padding:16px;
    margin:auto;
    border-radius:36px;
}

.splashButton{
    width:260px;
    height:50px;
    background: linear-gradient(0deg, #008200, #00e900);
    box-shadow: 0 6px 0 #005600;
    margin: 0 auto;
    border-radius:25px;
    font-size:22px;
}

.splashButton a{
    color:#fff;
    text-decoration: none;
    padding: 10px 16px;
    margin: auto auto;
    display:inline-block;
}

.slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 2;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1515040242872-08257d6d08c2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a68917a2019c9918143cac0703471519&auto=format&fit=crop&w=1350&q=80)
}
.slideshow li:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1466780446965-2072a3de8a43?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=609551c214cae0d6043bc6f40ec5db9d&auto=format&fit=crop&w=1349&q=80);
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1504244648668-89000185ea9b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4b4b2fddc3fd10ba4e0316c1cffcad5c&auto=format&fit=crop&w=1353&q=80);
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1479660095429-2cf4e1360472?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=999a4a6fe048fb1d97d64ae12b2c7ec2&auto=format&fit=crop&w=1351&q=80);
    animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url(https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c035f34c035a8690da777211f1e66d59&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}