.new-question-form{
    display:inline-grid;
    width:60vw;
    font-size: 1.3rem;
    margin-bottom:24px;
}

.new-question-form Button{
    margin:auto auto;
}

.new-question-form label{
    box-shadow: 0 10px 6px -6px #777;
    border-radius:16px;
    background: #ebebeb;
    margin:12px;
    padding: 4px;
}

.new-question-form input{
    background-color:inherit;
    border:none;
    border-bottom: 1px solid black;
    width:80%;
    font-size:1.3rem;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.new-question-form input:focus{
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 15px rgba(81, 203, 238, 1);
}

.new-question-form .new-question-form-field-description{
    font-size:.75rem;
    color:darkslategray;
}

#question-form-number-of-answers{
    margin:auto auto;
    width:40%;
}

#question-form-number-of-answers input{
    width:64px;
}

@media screen and (max-width:700px) {
    .new-question-form{
        width:96vw;
        font-size: 1rem;
    }

    .new-question-form label{
        margin:4px;
        padding: 4px;
    }

    .new-question-form input{
        width:75%;
        font-size:1rem;
    }

    #question-form-number-of-answers{
        width:80%;
    }

}