.question-answer-form{
    font-size:1rem;
    width:96vw;
}

.question-answer-form .question-content{
    font-size:2rem;
    margin: 24px 0;
}

.question-answer-form .question-education{
    width:100%;
    margin: 0 auto 24px auto;
}

.question-answer-form .question-education .education-embed{
    width:100%;
    height:300px;
}

.question-answer-form .security-light-wrapper{
    margin: 16px auto;
    display:inline-flex;
}

.question-answer-form .security-light{
    width:80%;
    height:100px;
    margin:auto;
}

.security-light-info{
    margin: 4px;
}

.security-light-info div{
    margin:1px;
    border-radius:8px;
}

#ballot-type-secret{
    background-color: rgba(238, 35, 61, 0.3);
}

#ballot-type-private{
    background-color: rgba(238, 164, 14, 0.3);
}

#ballot-type-public{
    background-color: rgba(66, 238, 34, 0.3);
}

.question-answer-form .answer-display.pressed{
    box-shadow: 2px 2px 5px #bda733, -2px 2px 5px #bda733, 2px -2px 5px #bda733, -2px -2px 5px #bda733,
                5px 5px 10px #ebe679, -5px 5px 10px #ebe679, 5px -5px 10px #ebe679, -5px -5px 10px #ebe679;
    outline: 0;
    transition: all 300ms ease-in-out;
}

.question-answer-form .question-xpReward{
    margin-top:24px;
}

.question-answer-form .question-delete{
    background-color: #e15a61;
    margin:4px;
    padding:4px;
    color:white;
    border: 2px solid #e15a61;
    border-radius: 8px;
}

.question-answer-form .answer-display{
    margin: 8px 0;
    font-size:1.2rem;
    width:70%;
}

@media screen and (min-width: 700px){
    .question-answer-form{
        font-size:1.2rem;
        width:60vw;
    }

    .question-answer-form .question-education.hasEmbed{
        width:100%;
        height:40vh;
    }

    .question-answer-form .question-education .education-embed{
        width:100%;
        height: 40vh;
    }
}