.question-title{
    margin:4px;
    padding:8px;
    font-size:1.3rem;
}

.question-title .question-new-form-link{
    margin:0;
}

@media screen and (max-width: 700px){
    .question-title{
        font-size:1rem;
        padding-top:8px;
        padding-bottom:8px;
    }
}