.question-results{
    font-size:1rem;
    width:95vw;
}

.question-results .question-content{
    font-size:1.6rem;
    margin: 24px 2px;
}

.question-results .question-education{
    margin: 12px 8px;
}

.question-results .answer-display{
    font-size:1.2rem;
    width:80%;
    padding: 2px;
    margin: 8px auto;
    border-radius: 8px;
}

.question-results-edit{
    margin: 20px auto;
}

.question-results .question-history{
    margin-top:24px;
}


@media (min-width: 700px) {
    .question-results{
        font-size:1.2rem;
        width:60vw;
    }

    .question-results .answer-display{
        font-size:1.2rem;
        width:40%;
        padding: 2px;
        margin: 4px auto;
        border-radius: 8px;
    }

    .question-results .question-education{
        width:60%;
        margin: 12px auto;
    }

}
