.question-thumbnail{
    background-color:rgb(239, 239, 239);
    border-radius:12px;
    font-size:1.2rem;
    margin: 12px;
    padding:4px;
}

.question-thumbnail-wrapper{
    width:25%;
}

.question-list{
    width:65vw;
    display:inline-flex;
    flex-wrap: wrap;
    margin:auto auto;
}

.question-thumbnail Button{
    width:inherit;
    padding:6px;
}

@media screen and (max-width: 700px) {

    .question-thumbnail-wrapper{
        width:50%;
    }

    .question-thumbnail {
        margin: 8px 2px;
        padding:2px;
    }

    .question-list{
        width:100vw;
        display:inline-flex;
        flex-wrap: wrap;
    }
}