.question-title{
    padding:16px;
    font-size:1.3rem;
}

@media screen and (max-width: 700px){
    .question-title{
        font-size:1rem;
        padding-top:8px;
        padding-bottom:8px;
    }
}