.buttonHOC{
    font-size:14px;
    border: none;
    outline:none;
    color: #eee;
    text-shadow: 2px 1px 1px rgba(100, 100, 100, 0.8);
    padding: 2px 6px;
    border-radius:12px;
    margin:3px;
    cursor: pointer;
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
}

.buttonHOC:active,
.buttonHOC.pressed{
    transform: translate(0px, 4px) ;
    box-shadow:none;
}

/* Begin color schemes */
.blue-button{
    background: linear-gradient(to bottom right, #6d99f8, #4b58f4);
    box-shadow: 0 4px 0 #323f9f;
}

.blue-button:active,
.blue-button.pressed{
    background: linear-gradient(to bottom right, #323269, #262d69);
}

.yellow-button{
    background: linear-gradient(to bottom right, #f8b91d, #9a6324);
    box-shadow: 0 4px 0 #9a7020;
}

.yellow-button:active,
.yellow-button.pressed{
    background: linear-gradient(to bottom right, #8b6928, #5b3f1b);
}


.green-button{
    background: linear-gradient(to bottom right, #4af83f, #3c9a2f);
    box-shadow: 0 4px 0 #3c9a2f;
}

.green-button:active,
.green-button.pressed{
    background: linear-gradient(to bottom right, #2f8b26, #225b1b);
}

.red-button{
    background: linear-gradient(to bottom right, #f82627, #8d120f);
    box-shadow: 0 4px 0 #8c1214;
}

.red-button:active,
.red-button.pressed{
    background: linear-gradient(to bottom right, #8b1a1b, #5b1110);
}


@media screen and (min-width: 700px) {
    .buttonHOC{
        width:45%;
        min-width:90px;
        font-size:20px;
    }
}