.buttonHOC{
    background: linear-gradient(to bottom right, #6d99f8, #4b58f4);
    box-shadow: 0 4px 0 #323f9f;
    font-size:14px;
    border: none;
    outline:none;
    color: #eee;
    text-shadow: 2px 1px 1px rgba(100, 100, 100, 0.8);
    padding: 2px 6px;
    border-radius:12px;
    margin:3px;
    cursor: pointer;
}

.buttonHOC:active{
    transform: translate(0px, 4px) ;
    box-shadow:none;
    background: linear-gradient(to bottom right, #323269, #262d69);
}

.pressed {
    color: rgba( 221, 221, 221, 0.7);
    box-shadow:none;
    background: linear-gradient(to bottom right, #323269, #262d69);
}


@media screen and (min-width: 700px) {
    .buttonHOC{
        width:45%;
        min-width:90px;
        font-size:20px;
    }
}