.question-answer-form .question-education{
    width:100%;
    margin: 0 auto 0 auto;
}

.question-answer-form .question-education .buttonHOC{
    margin-bottom:12px;
}

.question-answer-form .question-education .education-embed{
    width:100%;
    height:300px;
}

@media screen and (min-width: 700px){
    .question-answer-form .question-education.hasEmbed{
        width:100%;
        height:40vh;
    }

    .question-answer-form .question-education .education-embed{
        width:100%;
        height: 40vh;
    }
}