.error-display{
    border: 2px solid red;
    background-color:pink;
    border-radius:8px;
    width: fit-content;
    padding: 12px;
    margin:10px auto;
}

.error-display-remove{
    background:none;
    border: 1px solid red;
    border-radius:16px;
    margin-bottom:4px;
}