.party-image{
    width:80vw;
    height:inherit;
    margin: 4px auto;
    border-radius: 8px;
}

.party-remove-party{
    margin-top:16px;
    background-color:red;
    color:white;
}

.party-placard .party-placard-top-section Button{
    width:45%;
}

.party-placard{
    margin: 4px auto;
}

.party-placard-join-button{
    background-color:lightgreen;
    border-radius:8px;
    font-size:1.2rem;
}

@media (min-width:700px) {
    .party-placard{
        width:25vw;
    }

    .party-image{
        width:240px;
        float: inherit;
    }

    .party-placard Button{
        width:80%;
    }
}