.party-image{
    width:240px;
}

.party-placard{
    margin: 4px auto;
}

@media (min-width:700px) {
    .party-placard{
        width:25vw;
    }

    .party-placard-join-button{
        background-color:lightgreen;
        border: 2px solid black;
        border-radius:8px;
        font-size:1.2rem;
    }

    .party-remove-party{
        margin-top:16px;
        font-size:.6rem;
        background-color:red;
        color:white;
    }

    .party-placard Button{
        width:80%;
    }
}