.party-image{
    width:80vw;
    height:inherit;
    margin: 4px auto;
    border-radius: 8px;
}

.party-placard .party-placard-top-section Button{
    width:45%;
}

.party-placard{
    margin: 6px auto;
    padding: 4px;
}

@media (min-width:700px) {
    .party-placard{
        width:25vw;
    }

    .party-image{
        width:240px;
        float: inherit;
    }

    .party-placard Button{
        width:80%;
    }
}