.register-page{
    font-size:1.3rem;
    width:100vw;
}

.register-form{
    display:inline-grid;
}

.register-form label{
    border-radius:16px;
    background: #ebebeb;
    margin:12px;
    padding: 4px;
    -webkit-transition: all 0.60s ease-in-out;
    -moz-transition: all 0.60s ease-in-out;
    -ms-transition: all 0.60s ease-in-out;
    -o-transition: all 0.60s ease-in-out;
}

.register-form input:focus {
    box-shadow: 0 0 5px rgb(59, 238, 97);
    border: 1px solid rgb(59, 238, 97);
    border-bottom: 1px solid black;
}

.register-form input{
    background-color:inherit;
    outline:none;
    border:none;
    border-bottom: 1px solid black;
    width:80%;
    font-size:1.3rem;
}

.register-form Button{
    font-size:24px;
    margin: 4px auto 24px auto;
}


@media (min-width: 700px) {

}