.register-page{
    font-size:1.3rem;
    width:100vw;
}

.register-form{
    display:inline-grid;
}

.register-form label{
    border: 2px solid black;
    border-radius:16px;
    background: #ebebeb;
    margin:12px;
    padding: 4px;
}

.register-form input{
    background-color:inherit;
    border:none;
    border-bottom: 1px solid black;
    width:80%;
    font-size:1.3rem;
}

.register-form Button{
    margin: 4px auto 24px auto;
}

@media (min-width: 700px) {
    
}