.shop-item-image{
    width:96px;
    border-radius:8px;
}

.shop-remove-item{
    margin-top:16px;
    font-size:.6rem;
    background-color:red;
    color:white;
}

.shop-item-placard Button{
    width:80%;
}

.shop-item-placard{
    display:inline-block;
}

.shop-item-list > div{
    margin: 4px auto;
    padding: 4px;
    width: 45vw;
}