.user-inventory-header{
    font-size:1.3rem;
    background-color: white;
    box-shadow: 0 10px 6px -6px #777;
    border-radius:8px;
    margin: 4px auto;
    padding:12px;
    width:fit-content;
}

.inventory-items > div{
    margin: 3px;
    padding:4px;
    display:inline-flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 700px) {
    .inventory-items > div{
        margin:6px;
    }
}