.inventory-items{
    border-bottom: 2px solid black;
}

.user-inventory-header{
    font-size:1.3rem;
    background-color: white;
    border: 2px solid black;
    border-radius:8px;
    margin: auto;
    padding:12px;
    width:fit-content;
}

@media screen and (max-width: 700px) {
    .inventory-items{
        display:inline-flex;
        flex-wrap: wrap;
    }
}