.avatar-image{
    width:60vw;
    margin:auto;
}

.user-aside{
    display: block;
    width:90vw;
    margin: 4px auto;
    background-color: #fff;
    border-radius:8px;
    font-size:1.3rem;
}

.profile-main, .profile-demographics{
    display:block;
    background-color:#fff;
    border-radius:8px;
    width:90vw;
    font-size:1.3rem;
    margin:auto;
}

.profile-main .profile-item-image{
    width:64px;
    margin: 4px 4px 0 4px
}

@media (min-width: 700px) {
    .profile-main, .profile-demographics{
        width:60vw;
    }


}

