.avatar-image{
    width:64px;
    margin:auto;
}

.user-aside{
    width:fit-content;
    float:left;
    display: inline-grid;
    border: 2px solid black;
    border-radius:8px;
    font-size:1.3rem;
    margin-left:48px;
}

.profile-main, .profile-demographics{
    display:block;
    width:60vw;
    border: 2px solid gray;
    background-color:lightgrey;
    font-size:24px;
    margin:auto;
}

.profile-main .profile-item-image{
    width:64px;
    margin: 4px 4px 0 4px
}

