#root{
  height:100vh;
  width:100vw;
  background-color: #abc5e6;
}

.App {
  text-align: center;
  height:100%;
  color:black;
  font-size:16px;
}

.app-content{
  position: absolute;
  overflow: auto;
  top:70px;
  bottom: 60px;
  width:100vw;
}

@media screen and (max-width: 700px){
  #root, html{
    margin:0;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
  }

  .app-content{
    bottom:0;
  }

  .App{
    font-size:14px;
  }
}
